Repository CodeYourFuture/syllabus, pull requests merged in 2020-10, with the labels that each got.

#67 Add Demo component to render components within the syllabus itself
  docs/react/week-2/demos/ExerciseA.js
  docs/react/week-2/lesson.md
  src/theme/Demo.css
  src/theme/Demo.js
Labels: enhancement, plumbing

#74 Document hotel homework solution
  docs/react/week-1/mentors.md
  docs/react/week-2/mentors.md
  docs/react/week-3/mentors.md
Labels: React, content

#94 Add Node "Presentation" Homework
  docs/node/week-1/homework.md
  docs/node/week-2/homework.md
  docs/node/week-2/lesson.md
  docs/node/week-3/lesson.md
Labels: Node, content

#93 Add Task Numbers to Class Exercises for Node
  docs/node/week-1/lesson.md
  docs/node/week-2/lesson.md
  docs/node/week-3/lesson.md
Labels: Node, enhancement

#87 What makes a good final project?
  docs/finalproject/external-projects.md
  sidebars.js
Labels: Final Projects, content

#97 Add demos for in-class React exercises
  docs/react/week-1/demos/ExerciseD.js
  docs/react/week-1/demos/ExerciseE.js
  docs/react/week-1/demos/ExerciseG.js
  docs/react/week-1/lesson.md
  docs/react/week-1/mentors.md
  docs/react/week-2/demos/ExerciseD.js
  docs/react/week-2/demos/ExerciseE.js
  docs/react/week-2/lesson.md
  docs/react/week-2/mentors.md
  docs/react/week-3/demos/ExerciseA.js
  docs/react/week-3/demos/ExerciseE.js
  docs/react/week-3/demos/ExerciseF.js
  docs/react/week-3/demos/ExerciseG.js
  docs/react/week-3/lesson.md
  docs/react/week-3/mentors.md
Labels: React, enhancement

#115 Add Example Image of Bad Document Naming
  docs/git/assets/example_git_exists.png
  docs/git/index.md
Labels: Git

#116 Add remaining images
  docs/git/assets/lesson1-forked-url-anatomy.png
  docs/git/assets/lesson1-four-repo-diagram.png
  docs/git/index.md
Labels: Git
