Repository CodeYourFuture/syllabus, pull requests merged in 2020-11, with the labels that each got.

#108 Add Node Preparation Work
  docs/node/index.md
  docs/node/preparation.md
  docs/node/week-1/lesson.md
  docs/node/week-1/mentors.md
  sidebars.js
Labels: Node, enhancement

#107 Add More React Preparation Work
  docs/react/prep.md
Labels: React

#106 Add JavaScript Core 1 Preparation Work
  .vscode/settings.json
  docs/js-core-1/index.md
  docs/js-core-1/preparation.md
  docs/js-core-1/week-1/lesson.md
  docs/js-core-1/week-1/mentors.md
  sidebars.js
Labels: JS1, enhancement

#126 Make React Homework More Obvious
  docs/react/week-1/homework.md
  docs/react/week-2/homework.md
  docs/react/week-3/homework.md
Labels: React

#136 Reference destructuring from JS3 in React useState lesson
  docs/react/week-2/lesson.md
Labels: React

#109 Add MongoDB Prep Work
  docs/mongodb/index.md
  docs/mongodb/preparation.md
  docs/mongodb/week-1/lesson.md
  docs/mongodb/week-1/mentors.md
  sidebars.js
Labels: MongoDB
