Repository CodeYourFuture/syllabus, pull requests merged in 2020-05, with the labels that each got.

#360 Update Homework for HTML/CSS
  html-css/week-1/homework.md
  html-css/week-2/homework.md
  html-css/week-3/homework.md
Labels: Do Not Merge

#393 Update React learning objectives
  react/archived-learning-objectives.md
  react/overall-learning-objectives.md
  react/week-1/learning-objectives.md
  react/week-2/learning-objectives.md
  react/week-3/learning-objectives.md
Labels: react-module

#418 Add instructions on stopping create-react-app and installing stop-runaway-react-effects
  react/week-1/lesson.md
  react/week-1/mentors.md
Labels: react-module

#417 React week 3: "advanced useEffect" section
  react/assets/eslint-hooks-rule.png
  react/week-1/lesson.md
  react/week-3/lesson.md
  react/week-3/mentors.md
Labels: react-module

#405 Update React Lesson Week 2 - useState
  react/week-2/lesson.md
Labels: Do Not Merge, Lesson, react-module

#424 Optional React class components lesson
  SUMMARY.md
  react/classes-optional/lesson.md
  react/classes-optional/mentors.md
Labels: react-module

#415 React use effect
  react/week-2/lesson.md
Labels: Module Planning, react-module

#429 Update React week 2 section to be clearer that it is about re-rendering
  react/week-2/lesson.md
  react/week-2/mentors.md
Labels: react-module

#439 tweaks to lesson 1
  react/week-1/lesson.md
Labels: react-module

#448 Updates to useState content
  react/assets/state-diagram.png
  react/week-2/lesson.md
  react/week-2/mentors.md
Labels: react-module

#450 React week 2 in-class exercises
  react/week-2/lesson.md
  react/week-2/mentors.md
Labels: react-module
