Repository CodeYourFuture/syllabus, pull requests merged in 2021-06, with the labels that each got.

#270 React clean up
  docs/guides/create-a-react-app.md
  docs/react/coordinator.md
  docs/react/index.md
  docs/react/mentors.md
  docs/react/week-1/learning-objectives.md
Labels: React

#284 Update Node Workshop ID to Longer IDs
  docs/node/week-2/lesson.md
Labels: Node, bug

#272 Further React module clean up and minor improvements
  docs/react/week-1/homework.md
  docs/react/week-1/lesson.md
  docs/react/week-2/homework.md
  docs/react/week-2/lesson.md
  docs/react/week-3/homework.md
  docs/react/week-3/lesson.md
Labels: React

#277 Add more JS form submission info
  docs/html-css/week-3/lesson.md
Labels: HTML-CSS, content

#274 Switch to teaching functional set state
  docs/react/week-2/lesson.md
Labels: React
