Repository CodeYourFuture/syllabus, pull requests merged in 2021-05, with the labels that each got.

#242 Update HTML module
  docs/html-css/assets/css-flex-align-items-column.png
  docs/html-css/assets/css-flex-align-items-row.png
  docs/html-css/assets/css-flex-direction-column.png
  docs/html-css/assets/css-flex-direction-row.png
  docs/html-css/assets/css-flex-justify-content-column.png
  docs/html-css/assets/css-flex-justify-content-row.png
  docs/html-css/index.md
  docs/html-css/week-1/homework.md
  docs/html-css/week-1/learning-objectives.md
  docs/html-css/week-1/lesson.md
  docs/html-css/week-2/homework.md
  docs/html-css/week-2/lesson.md
  docs/html-css/week-3/github-search-example.html
  docs/html-css/week-3/learning-objectives.md
  docs/html-css/week-3/lesson.md
Labels: HTML-CSS, content

#245 json() middleware now part of express.
  docs/db/week-3/lesson.md
Labels: SQL

#256 Add Git Delivery Times to Overview Page
  docs/git/coordinator.md
  docs/git/overview.md
Labels: Git, content

#255 Update to Docusaurus Beta
  package-lock.json
  package.json
Labels: dependencies

#258 Remove trailing slashes when on pages.
  docusaurus.config.js
  static/js/fix-location.js
Labels: bug

#265 Fix HTML lesson 3 follow-up issues
  docs/html-css/week-2/lesson.md
  docs/html-css/week-3/lesson.md
  docs/js-core-3/week-2/lesson.md
Labels: HTML-CSS, content
